body {
    background: rgb(64, 64, 230);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.356); 
}

div {
    /*text-align: center;*/
    padding: .5rem;
}

#botao {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.btn {
    padding: 4px 18px;
    color: white;
    background: #4040E6;
    border: none;
    border-radius: 20px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    
}